/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
    --ion-color-primary: #ad000d;
    --ion-color-primary-contrast: #ffffff;
    --ion-font-family: "Swiss", sans-serif;
  }
  